# Ignore PDF files
*.pdf

# Ignore Python virtual environments
.venv/
venv/

# Ignore Python cache files
__pycache__/

# Ignore data directories
data/

# Ignore NumPy array files
npy/

# Ignore mac os files
.DS_Store